*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.logo{
    height: 25px;
}
.header{
    width: 90vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header ul li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 12px;
}
li{
    list-style-type: none;
}
.left ul{
    display: flex;
    flex-direction: row;
}
.right ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right ul li{
    padding: 12px;
}
.header ul a:hover{
    text-decoration: underline black;
}
.banner{
    width: 90vw;
    margin: auto;
    height: 511px;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    overflow: hidden;

}
.banner-ad{
    height: 70vh;
    width: 800px;
    /* background-image: url("surface-laptop.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.banner-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40vw;
    padding-left: 5vw;
}
.banner p{
    padding-bottom: 15px;
    padding-top: 8px;
}
.banner button:hover{
    border: 2px solid #ff96ad;
    color: #ff96ad;
    transform: scale(1.05);
}
#ad-btn{
    background-color: black;
    color: white;
    width: 111px;
    height: 37px;
    transition: .4s ease-in;
}
.post-banner{
    width: 70vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
    /* text-align: center; */
}
.post-btn{
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 95px;
    font-size: larger;
    background-color: white;
    cursor: pointer;
}
.post-btn:hover{
    text-decoration: underline black;
}
.shop-cart{
    margin: 80px auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop-cart:hover{
    cursor: pointer;
}
.shop-cart button:hover{
    text-decoration: underline black;
}
.cards{
    width: 21vw;
    height: 402px;
    min-width: 323px;
}
.shop-cart h3{
    padding-top: 35px;
}
.shop-cart button{
    border: none;
    background-color: white;
    color: #1867a3;
    font-weight: bold;
}
.banner-2{
    width: 90vw;
    margin: auto;
    height: 511px;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

}
.banner-info-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40vw;
    padding-left: 5vw;
}
#ad-btn-2{
    background-color: black;
    color: white;
    width: 111px;
    height: 37px;
    transition: .4s ease-in;
}
.banner-ad-2{
    height: 511px;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

    background-image: url("banner-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.banner-2 p{
    padding-bottom: 15px;
    padding-top: 8px;
}
.banner-2 button:hover{
    border: 2px solid #ff96ad;
    color: #ff96ad;
    transform: scale(1.05);
}
.business h2{
    margin-top: 40px;
}
.covid{
    width: 90vw;
    margin-top: 5vh;
    background-color: #e6e6e6;
    text-align: center;
}
.covid button{
    border: none;
    padding-bottom: 30px;
    font-weight: bold;
    background-color: #e6e6e6;
}
.covid h1{
    padding-top: 35px;
    padding-bottom: 15px;
}
.covid p{
    padding-bottom: 20px;
}
.post-covid{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}
.post-covid span{
    padding: 0 20px 0 0;
}
.fa{
    padding: 10px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
}
.hid-nav{
    visibility: collapse;
}
.fa:hover{
    opacity: 0.7;
} 
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-youtube{
    background: #bb0000;
    color: white;
}
.covidbtn:hover{
    text-decoration: underline black;
    background-color: #e6e6e6;
}
footer{
    width: 98vw;
    margin: auto;
    overflow: hidden;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 20px;
}
.highlight{
    font-weight: bolder;
}
footer ul li{
    padding: 5px;
    font-weight: lighter;
    list-style-type: none;
}
footer ul li:hover{
    cursor: pointer;
    text-decoration: underline black;
}
@media only screen and (max-width: 1180px) {
    .container{
        overflow: hidden;
        width: 100vw;
    }
    .header{
        width: 100vw;
    }
    .banner{
        width: 100vw;
    }
    .banner-2{
        width: 100vw;
    }
    .covid{
        width: 100vw;
    }
    .business h2{
        margin-left: 50px;
    }
    .post-covid{
        margin: auto;
    }
    .shop-cart{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 1056px) {
    .left, .right{
        visibility: collapse;
    }
    .header{
        justify-content: space-between;
        align-content: center;
    }
    .hid-nav{
        visibility: visible;
        font-size: larger;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .banner-info{
        width: 100vw;
        max-width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .shop-cart{
        justify-content: space-around;
    }
    .banner button{
        margin-bottom: 50px;
    }
    .banner-2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .banner-ad-2{
        width: 100vw;
    }
    .banner-info-2{
        width: 100vw;
        max-width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .banner-2 button{
        margin-bottom: 50px;
    }
    footer{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 700px) {
    .post-banner{
        width: 100vw;
        height: 300px;
        flex-direction: column;
    }
    .post-btn{
        flex-direction: row;
        width: 100vw;
        text-align: left;
        justify-content: left;
    }
}
